<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white shadow-lg p-8">
      <h2 class="text-2xl font-semibold mb-4">Registration</h2>
      <form (submit)="register()">
        <div class="mb-4">
          <label for="name" class="block font-medium">Name:</label>
          <input type="text" id="name" [(ngModel)]="name" name="name" class="mt-1 p-2 border rounded w-full">
        </div>
        <div class="mb-4">
          <label for="email" class="block font-medium">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" class="mt-1 p-2 border rounded w-full">
        </div>
        <div class="mb-4">
          <label for="password" class="block font-medium">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="mt-1 p-2 border rounded w-full">
        </div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Register</button>
      </form>
    </div>
  </div>
  